{% extends layout_triangle~'base.html.twig' %}

{% block title %} {{ app_name }} | Accueil {% endblock %}

{% block head %}
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/ico/ReportYourBug/Logo.png') }}" />
{% endblock %}

{% block Home_Slider %}
    <section id="page-breadcrumb" class="f-banner">
        <div class="f-cv-banner">

        </div>
    </section>
{% endblock %}

{% block Content %}

    <div class="f-container">
        <div class="f-profile-photo">
        </div>
    </div>

{% endblock %}