<!DOCTYPE html>
<html lang="fr" xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
 {% include "layouts/cv/head.html.twig" %}

<body class="bg-light" id="top">

{% include "layouts/cv/header.html.twig" %}

{% block main %}
 <h1>Main Block</h1>
{% endblock %}


{% include "layouts/cv/footer.html.twig" %}

{% include "layouts/cv/script.html.twig" %}
</body>
</html>