{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends "layouts/triangle/error.html.twig" %}

{% block title %} {{ app_name }} | error {% endblock %}



{% block Content %}
    <div class="error-page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <div class="bg-error">
                            <div class="error-image">
                                <img class="img-responsive f-image-size-md  " src="{{ asset('assets/images/error/error.png') }}" alt="">
                            </div>
                        </div>
                        <h2>500 ERREUR INTERNE</h2>
                        <p>Nous faisons de notre mieux pour résoudre cette erreur.</p>
                        <a href="{{ path('app_home') }}" class="btn btn-error">RETOUR À LA PAGE D'ACCUEIL</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}